.text-animated h1 {
   text-transform: uppercase;
   font-size:5rem;
   line-height: 3.5rem;
   color: var(--title);
       
}

.text-animated span.typed-text {
 font-family:'Raleway', sans-serif;
 font-weight: 900;
 text-transform: uppercase;
 line-height:5rem;
 font-size:5rem;
 color: var(--title);
}
.text-animated span.cursor {
 display: inline-block;  
 margin-left: 0.1rem;
 color: var(--title);
 width: 0.5rem;  
 animation: blink 1s infinite;  
}

.text-animated span.cursor.typing {
 animation: none;
}

@keyframes blink {
 0%  { background-color: #262626; }
 49% { background-color: #262626; }
 50% { background-color: transparent; }
 99% { background-color: transparent; }
 100%  { background-color: #262626; }
}
/*fim texto animado*/


/*button*/


.btn-transparent,
.btn-white {
   transition: 0.3s ease-out;
}

.btn-white:hover {
  transform: scale(1.05);
}

.btn-transparent:hover {
   animation: is-boucing 1s ease-in-out alternate infinite;
}

@keyframes is-boucing {
   to {
      transform: translateY(1rem);
   }
 }


/*navegação*/
.arrow {
  color: var(--black);
  animation: fadeInDown 2.5s ease 1s infinite normal;
  
}

@keyframes fadeInDown {
   0% {
   opacity: 0;
   -webkit-transform: translate3d(0, -100%, 0);
   transform: translate3d(0, -100%, 0);
   }
   100% {
   opacity: 1;
   -webkit-transform: none;
   transform: none;
   }
   } 


   .outra {
      -webkit-animation: scale-up-center 0.4s cubic-bezier(0.600, 0.040, 0.980, 0.335) 0.2s both;
      animation: scale-up-center 0.4s cubic-bezier(0.600, 0.040, 0.980, 0.335) 0.2s both;
   }
   
   @-webkit-keyframes scale-up-center {
      0% {
        -webkit-transform: scale(0.5);
                transform: scale(0.5);
      }
      100% {
        -webkit-transform: scale(1);
                transform: scale(1);
      }
    }
    @keyframes scale-up-center {
      0% {
        -webkit-transform: scale(0.5);
                transform: scale(0.5);
      }
      100% {
        -webkit-transform: scale(1);
                transform: scale(1);
      }
    }

    /**/

     
@keyframes slideInDown {
   0% {
   -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
      visibility: visible;
   }
   100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
   }
} 