.text-animated h1 {
   text-transform: uppercase;
   font-size:5rem;
   line-height: 3.5rem;
   color: var(--title);
       
}

.text-animated span.typed-text {
 font-family:'Raleway', sans-serif;
 font-weight: 900;
 text-transform: uppercase;
 line-height:5rem;
 font-size:5rem;
 color: var(--title);
}
.text-animated span.cursor {
 display: inline-block;  
 margin-left: 0.1rem;
 color: var(--title);
 width: 0.5rem;  
 animation: blink 1s infinite;  
}

.text-animated span.cursor.typing {
 animation: none;
}

@keyframes blink {
 0%  { background-color: #262626; }
 49% { background-color: #262626; }
 50% { background-color: transparent; }
 99% { background-color: transparent; }
 100%  { background-color: #262626; }
}
/*fim texto animado*/


/*button*/


.btn-transparent,
.btn-white {
   color: var(--black);
   transition: 0.3s ease-out;
}

.btn-white:hover {
  color: var(--black); 
  transform: scale(1.05);
}

.btn-transparent:hover {
   animation: is-boucing 1s ease-in-out alternate infinite;
   color: var(--black); 
}

@keyframes is-boucing {
   to {
      transform: translateY(1rem);
   }
 }


/*navegação*/
.arrow {
  color: var(--black);
  animation: fadeInDown 2.5s ease 1s infinite normal;
  
}


/**imagem**/

.slide-in-bck-right {
	
	animation: slide-in-bck-right 0.8s cubic-bezier(0.470, 0.000, 0.745, 0.715) .5s both;
}

 @keyframes slide-in-bck-right {
   0% {
     transform: translateZ(700px) translateX(400px);
     opacity: 0;
   }
   100% {
     transform: translateZ(0) translateX(0);
     opacity: 1;
   }
 }

.slideInDown {      
      animation: slideInDown 0.8s cubic-bezier(0.600, 0.040, 0.980, 0.335) 0.2s both;
   }

.slideInDown2 {      
      animation: slideInDown 0.8s cubic-bezier(0.600, 0.040, 0.980, 0.335) 0.4s both;
   }

.slideInDown3 {      
      animation: slideInDown 0.8s cubic-bezier(0.600, 0.040, 0.980, 0.335) 0.6s both;
   }

.slideInDown4 {      
      animation: slideInDown 0.8s cubic-bezier(0.600, 0.040, 0.980, 0.335) 0.8s both;
   }
@keyframes slideInDown {
   0% {   
      transform: translateY(-100%);
      visibility: visible;
   }
   100% {      
      transform: translateY(0);
   }
} 


/***verificar**/

@keyframes fadeInDown {
   0% {
   opacity: 0;
   -webkit-transform: translate3d(0, -100%, 0);
   transform: translate3d(0, -100%, 0);
   }
   100% {
   opacity: 1;
   -webkit-transform: none;
   transform: none;
   }
   } 
