/*texto animado*/
.text-animated span.typed-text {
   font-family:'Raleway', sans-serif;
   font-weight: 900;
   text-transform: uppercase;   
   font-size: min(8rem, 12vw);
   line-height: 5.4rem;
   color: var(--title);
  }
  
.text-animated span.cursor {
   display: inline-block;  
   margin-left: 0.1rem;
   color: var(--title);
   width: 0.5rem;  
   animation: blink 1s infinite;  
}
  
.text-animated span.cursor.typing {
   animation: none;
}
  
@keyframes blink {
   0%  { background-color: #262626; }
   49% { background-color: #262626; }
   50% { background-color: transparent; }
   99% { background-color: transparent; }
   100%  { background-color: #262626; }
}
  /*fim texto animado*/

/*button*/
.btn-transparent,
.btn-white {
   color: var(--black);
   transition: 0.3s ease-out;
}

.btn-white:hover {
  color: var(--black); 
  transform: scale(1.05);
}

.btn-transparent:hover {
   animation: jello 1s ease-in-out alternate infinite;
   color: var(--black); 
}

@keyframes jello {
   0% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
      transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
      transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
      transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
       transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
      transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
 }

/*navegação*/
.arrow {
  color: var(--black);
  font-size: 3.2rem !important;
  animation: fade-in-down 2.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.5s infinite;  
}

@keyframes fade-in-down {
   0% {
      -webkit-transform: translateY(-50px);
      transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes fade-in-top {
    0% {
      -webkit-transform: translateY(-50px);
       transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
  }


/**imagem**/
.slide-in-bck-right {
	
	animation: slide-in-bck-right 0.8s cubic-bezier(0.470, 0.000, 0.745, 0.715) .5s both;
}

 @keyframes slide-in-bck-right {
   0% {
     transform: translateZ(700px) translateX(400px);
     opacity: 0;
   }
   100% {
     transform: translateZ(0) translateX(0);
     opacity: 1;
   }
 }


.slide-in-vertical {  
    animation: slide-in-vertical 0.6s ease-in-out backwards;
}


@keyframes slide-in-vertical {
   0% {
      -webkit-transform: scale(0.8) rotateX(0);
      transform: scale(0.8) rotateX(0);
  }
  50% {
    -webkit-transform: scale(1.5) rotateX(-90deg);
    transform: scale(1.5) rotateX(-90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateX(-180deg);
    transform: scale(1) rotateX(-180deg);
  }
}


.slide-left {
	-webkit-animation: slide-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) backwards;
	animation: slide-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) backwards;
}

.slide-left-4 {
	-webkit-animation: slide-left 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) backwards;
	animation: slide-left 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) backwards;
}

.slide-left-5{
	-webkit-animation: slide-left 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) backwards;
	animation: slide-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) backwards;
}

.slide-left-6 {
	-webkit-animation: slide-left 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) backwards;
	animation: slide-left 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) backwards;
}

@keyframes slide-left {
   0% {
     -webkit-transform: translateX(-100%);
     transform:translateX(-100%);
     opacity: 0;
   }
   100% {
      -webkit-transform: translateX(0);
      transform:translateX(0);
     opacity: 1;
   }
 }

 .bounce-in-fwd {
	-webkit-animation: bounce-in-fwd 1.1s both;
	animation: bounce-in-fwd 1.1s both;
}

@keyframes bounce-in-fwd {
   0% {
     -webkit-transform: scale(0);
             transform: scale(0);
     -webkit-animation-timing-function: ease-in;
             animation-timing-function: ease-in;
     opacity: 0;
   }
   38% {
     -webkit-transform: scale(1);
             transform: scale(1);
     -webkit-animation-timing-function: ease-out;
             animation-timing-function: ease-out;
     opacity: 1;
   }
   55% {
     -webkit-transform: scale(0.7);
             transform: scale(0.7);
     -webkit-animation-timing-function: ease-in;
             animation-timing-function: ease-in;
   }
   72% {
     -webkit-transform: scale(1);
             transform: scale(1);
     -webkit-animation-timing-function: ease-out;
             animation-timing-function: ease-out;
   }
   81% {
     -webkit-transform: scale(0.84);
             transform: scale(0.84);
     -webkit-animation-timing-function: ease-in;
             animation-timing-function: ease-in;
   }
   89% {
     -webkit-transform: scale(1);
             transform: scale(1);
     -webkit-animation-timing-function: ease-out;
             animation-timing-function: ease-out;
   }
   95% {
     -webkit-transform: scale(0.95);
             transform: scale(0.95);
     -webkit-animation-timing-function: ease-in;
             animation-timing-function: ease-in;
   }
   100% {
     -webkit-transform: scale(1);
             transform: scale(1);
     -webkit-animation-timing-function: ease-out;
             animation-timing-function: ease-out;
   }
 }
 
 /**modal**/

 .heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	animation: heartbeat 1.5s ease-in-out infinite both;
}

@keyframes heartbeat {
   from {
     -webkit-transform: scale(1);
      transform: scale(1);
     -webkit-transform-origin: center center;
      transform-origin: center center;
     -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
   }
   10% {
     -webkit-transform: scale(0.91);
       transform: scale(0.91);
     -webkit-animation-timing-function: ease-in;
       animation-timing-function: ease-in;
       color: var(--pink);
   }
   17% {
     -webkit-transform: scale(0.98);
      transform: scale(0.98);
     -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
   }
   33% {
     -webkit-transform: scale(0.87);
       transform: scale(0.87);
     -webkit-animation-timing-function: ease-in;
             animation-timing-function: ease-in;
             color: var(--pink);
   }
   45% {
     -webkit-transform: scale(1);
      transform: scale(1);
     -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
   }
 }
 