.nav-header i,
#contact i {
   font-size: 2.4rem;
   transition: 0.8s;
}

.btn-white,
.btn-dark,
.btn-hiring,
.nav-header,
.btn-modal {   
   box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
   -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
   -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}

 .bi-arrow-up-square::before {
   font-size: 2.8rem;
   color: var(--black);
}

.subtitles {  
   background-color:var(--pink);
   padding: 0.8rem;
   font-size: 1.6rem;  
 }

 .title-section {
   font-weight: 700;
   font-size: 4rem;
   text-align: center;
   padding: 2.4rem 0;
}

.btn-dark:hover {
   filter:brightness(0.7);
}

.btn-dark,
.btn-transparent {
   font-size: 1.8rem;
   padding: 1.6rem;
}

.btn-dark span,
.btn-transparent span {
   font-size: 2rem;
}