*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
    
   --pink: #F21D56;   
   --yellow: #F2E205;
   --orange: rgba(242, 159, 5, 0.7);
   --white: #FFFFFF;
   --off-white: #F2F2F2; 
   --title: #343a40;
   --black: #262626;
   --deep-orange: #F29F05;   
}

html, body {
   scroll-behavior: smooth;
 }
 
body {
   background: #ffffff;
   position: relative;
   font-family: 'Montserrat', sans-serif;    
   font-size:16px;
   -webkit-font-smoothing: subpixel-antialiased;     
 }

body, input, textarea, button {   
   font-weight: 400;
   color: var(--title);
}

h1, h2, h3, h4, h5, h6, strong, nav {
   font-family: 'Raleway', sans-serif;   
}

p {
   font-family: 'Montserrat', sans-serif;
   font-weight: 400;   
   color: var(--black);
}


.row {
   margin: 0;
}

.container,
.box-data {
   padding: 4rem 0;
}

