.main-section {
   display: grid;
   grid-template-columns: 60% 40%;
   grid-column-gap: 2rem;
   justify-items: center;
   align-items: center;
   justify-content: center;
   margin-top: 5rem;
   margin-bottom: 5rem;
}

main {
   background-color: var(--orange);
   height:100vh;      
}

.bloco-principal {
  margin-top: 12rem;
  height: 100vh; 
}

.btn-dark:hover {
   filter:brightness(0.7);
}