.main-section {
   display: grid;
   grid-template-columns: 60% 40%;
   grid-column-gap: 2rem;
   justify-items: center;
   align-items: center;
   justify-content: center;   
}

main {
   background-color: var(--orange);
   height:100vh;      
}

.bloco-principal {
  margin-top: 12rem;
  height: 100vh; 
}

.text-animated h1 {
   text-transform: uppercase;
   font-size:min(5rem, 12vw);;
   line-height: 3.5rem;
   color: var(--title);
       
}

.btn-dark:hover {
   filter:brightness(0.7);
}