@media (min-width: 1024px) {
   html {
      font-size:62.5% !important;
   }
}

@media (min-width: 768px) and (max-width: 1023px){
   html {
      font-size:50% !important;
   }

   .arrow, 
   #grid-about-1, #grid-about-2, #grid-about-3, #grid-about-4 {
      display: none;
   }

   .circle-box p {
      padding: 0 !important;
      margin-top:0 !important;
   }
}

@media (min-width: 421px) and (max-width:767px) {
  html {
      font-size:48% !important;
    }

   #home img,
   #about img {
      display: none;
   }

   .arrow, 
   #grid-about-1, #grid-about-2, #grid-about-3, #grid-about-4,
   #parallax, #sumary {
      display: none;
   }
   
   .grid-services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))!important;   
    grid-gap: 3.2rem; 
    justify-items: center;   
    justify-content: center;
    padding-top: 4.8rem;   
 }
   .container-footer p {
      padding:0 !important;
      font-size: 1.2rem;
   }
}

@media (max-width: 420px) {   
   html {
   font-size:40% !important;
   }

   #home img,
   #about img {
      margin-top: 6rem;
   }

   .arrow ,
   #grid-about-1, #grid-about-2, #grid-about-3, #grid-about-4,
   #parallax,
   #sumary,
   #box-parallax {
      display: none;
   }

   #services {
      background: #f2f2f2;
   }

   .grid-services {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))!important;   
      grid-gap: 3.2rem; 
      justify-items: center;   
      justify-content: center;
      padding-top: 4.8rem;   
   }

   .container-footer p {
      padding:0 !important;
      font-size: 1rem;
   }     
}