@media (min-width: 1024px) {
   html {
      font-size:62.5% !important;
   }
}

@media (min-width: 768px) {
   html {
      font-size:50%;
   }

   .arrow {
      display: none;
   }

   .circle-box p {
      padding: 0 !important;
      margin-top:0 !important;
   }
}

@media (min-width: 426px) and (max-width:767px) {
   #home img,
   #about img {
      display: none;
   }

   .arrow, .grid-about, #sumary {
      display: none;
   }

   .container-footer p {
      padding:0 !important;
      font-size: 1.2rem;
   }
}

@media (max-width: 425px) {   
   html {
   font-size:40%;
   }

   #home img,
   #about img {
      margin-top: 6rem;
   }

   .arrow ,
   .grid-about,
   #parallax,
   #sumary,
   #box-parallax {
      display: none;
   }

   #services {
      background: #f2f2f2;
   }

   .container-footer p {
      padding:0 !important;
      font-size: 1rem;
   }     
}