/*** sobre***/
.about {
   padding-top:2rem;
}

.subtitle-about {
   font-weight: 700;
   font-size: 2.5rem;
   text-align: center;
}

.underline {
  
  border-bottom: 2px solid var(--yellow);
  font-weight: 700;  
}

.content-about {  
  line-height:2rem;
  font-size: 1.25rem;  
  text-align: justify;
  padding-right: 2.5rem;
}

#sobre img {
   padding-top: 3rem !important;
}

.grid-about {
   display: grid;
   grid-template-columns: repeat(4,1fr);  
   justify-items: center;
   align-items: center;
   justify-content: center;
   margin-top: 3.5rem;   
}

/*** comuns***/

.subtitles {  
   background-color:var(--pink);
   padding: 0.5rem;  
 }

/*** serviços***/
.container-services {
   background: var(--off-white);
   height: 100vh;
   padding-top:2rem;   
}

.grid-services {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));   
   gap: 2rem 3rem; 
   justify-items: center;   
   justify-content: center;
   padding-top: 5rem;      
}

.card-services {
   padding: 2rem;
   text-align: center;
   border-radius: 0.5rem;
   background-color: var(--white);
   box-shadow: 3px 4px 10px 0px rgba(0,0,0,0.75);
   -webkit-box-shadow: 3px 4px 10px 0px rgba(0,0,0,0.75);
   -moz-box-shadow: 3px 4px 10px 0px rgba(0,0,0,0.75);
}

.card-services h3 {
   font-weight: 700;
   line-height:2rem;
   margin-top: 1rem;
   color: var(--title)
}

.card-services i {
   font-size:2.5rem;
   color: var(--deep-orange);   
 }

.card-services p {
   color: var(--black);
   font-size: 1.05rem;
   line-height:2rem;
   margin-top: 1rem;
}

/**form**/
.content-contact {
  line-height:1.85rem;
  font-size: 1.15rem;  
  text-align: justify;
  padding-right: 3.5rem;  
  
}

.title-contact {
   font-weight: 700;
   font-size: 2.5rem;   
}

/**parallax**/

.box-hiring-1 {
   padding:2rem;
   position: relative;
   height: 100%;
   filter:brightness(0.75);
   background: url(../img/img1.jpg) no-repeat;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;   
}

.box-hiring-2 {
   padding:2rem;
   position: relative;
   height: 100%;
   filter:brightness(0.75);
   background: url(../img/img3.jpg) no-repeat;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;   
}

.box-content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 5rem;
   margin-bottom: 5rem;
}

.box-content h2 {   
   font-size: 2rem;
   font-weight: 700;
   line-height: 2rem;
   color: var(--white);
   text-align: center;
   margin-bottom: 3rem;
   padding-top:2rem;
}

.btn-hiring {
   background: var(--white);   
   border: 1px solid transparent;   
   padding: 0.85rem 1rem;
   border-radius:0;
   color: var(--black);
   text-decoration:none;
   text-align-last: center;
}

.btn-hiring:hover {
   color: var(--white);
   background: var(--black);
}
